
.info {
    display: flex;
    justify-content: center;
  }


.item{
    background-color: aqua;
    width: 15%;
    margin: 10px;
}

.info li span:first-child {

    display: inline-block;
    padding: 10px;
  }


.info li {
display: block;
position: relative;
overflow: hidden;
}
   
.info li span:last-child {
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
display: flex;
align-items: center;
justify-content: center;
transform: translateY(-100%);
}


.info li span {
    transition: transform 0.2s ease-out;
  }
   
  .info li:hover span:first-child {
    transform: translateY(100%);
  }
   
  .info li:hover span:last-child {
    transform: none;
  }