

:host ::ng-deep h1 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem;
    font-weight: 600;
    margin-bottom: 60px;
}

:host ::ng-deep h2 {
    font-weight: bold;
    font-size: 1.75em;
}   


:host ::ng-deep p {
    font-size: 17px;
    margin-bottom: 35px;
}   

:host ::ng-deep blockquote {
    margin-left: 1.75px;
    margin-right: 0px;
    border-left: 5px solid var(--text-color-resalt);
    border-radius: var(--border-radius);
    padding: 10px 14px 7px 22px;
    /* change the quote highlight */
    background-color: var(--contrast-bg-color);
    font-style: italic;
}

:host ::ng-deep blockquote p {
    margin-bottom: 0;
    
}

:host ::ng-deep pre{
    border-radius: var(--border-radius)!important;
    font-size: 15px;
    background-color: var(--contrast-bg-color)!important;
}

:host ::ng-deep p code,
:host ::ng-deep a code {
    border-radius: var(--border-radius);
    background-color: var(--contrast-bg-color);
    padding: 3px;
}

:host ::ng-deep img {
    margin-left:auto;
    margin-right:auto;
}


:host ::ng-deep .cornell{
	width: 100% !important;
	display: inline-flex;
    margin-bottom: 30px;
}

:host ::ng-deep .cornell * {
    border-radius: var(--border-radius);
    margin-block: 0;
}

:host ::ng-deep .ask {
  max-width: 33% !important;
  fill:aqua;
  color: var(--color-text-primary);
  background:var(--contrast-bg-color);
  text-align: center;
  font-size: 23px;
  padding: 15px;
  
}
:host ::ng-deep .rta {
color: var(--color-text-primary);
background:var(--contrast-bg-color);
  text-align: left;
  font-size: 18px;
  padding: 15px;
  width: 100%;
}

:host ::ng-deep .cornell hr{
    height: auto;
    width:.7vw;
    border-width:0;
    color: var(--bg-color5);
    background-color: var(--text-color-resalt);
    text-align: left;
    margin-inline: 15px;
   }

:host ::ng-deep a[href] {
  text-decoration: none;
  color: var(--text-color-resalt);
}

/* a[href]::after {
  content: " "  url(flecha-correcta.png) ;
} */





/* tablas */
:host ::ng-deep table {
    padding: 0;
    word-break: initial;
    margin-left: auto;
    margin-right: auto;
    font-family: "Gill Sans Extrabold", Helvetica, sans-serif;
}

:host ::ng-deep table tr {
    border-top: 1px solid var(--dark-border);
    margin: 0;
    padding: 0;
    background-color: var(--bg-table-tr);
}

:host ::ng-deep table tr th {
    font-weight: bold;
    border: 1px solid var(--dark-border);
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
    font-size: 20px;
}

:host ::ng-deep table tr td {
    border: 1px solid var(--dark-border);
    margin: 0;
    padding: 6px 13px;
    font-size: 17px;
    
}

:host ::ng-deep table tr th:first-child,
:host ::ng-deep table tr td:first-child {
    margin-top: 0;
}

:host ::ng-deep table tr th:last-child, 
:host ::ng-deep table tr td:last-child {
    margin-bottom: 0;
}

:host ::ng-deep table tr:nth-child(2n),
:host ::ng-deep table tr:nth-child(1n) td {
    background-color: var(--bg-table-l1);
    
}

:host ::ng-deep table tr:nth-child(2n),
:host ::ng-deep table tr:nth-child(2n) td {
    background-color: var(--bg-table-l2);
}


/* listas */
:host ::ng-deep ul,
:host ::ng-deep ol {
    padding-left:30px;
    font-size: 15px;
    font-weight: none;
}

:host ::ng-deep ul:first-child, 
:host ::ng-deep ol:first-child {
    margin-top: 0.35%;
}

:host ::ng-deep ul:last-child,
:host ::ng-deep ol:last-child {
    margin-bottom: 0;
}

:host ::ng-deep .center {
    margin-left: auto; 
    margin-right: auto;
}

:host ::ng-deep .l {
    margin-left: 0; 
}

:host ::ng-deep .r {
    margin-right: 0;
}